.quotes{height: 100vh;
background-image: url(../imgs/Capture.png);
background-size: cover;
margin: auto;
background-position: center center;}
.inner{background-color: rgba(0, 0, 0, 0.7);
height: 70%;
border-radius: 25px;
padding: 50px 15px;}